<!doctype html>
<html lang="en" style="overflow: hidden">
<head>
    <meta charset="utf-8">
    <title>Cream City Code - Photo Booth</title>
    <base href="/">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta name="theme-color" content="#ecd290">
    <meta name="title" content="Cream City Code -- 2018">
    <meta name="description" content="Pictures from the Cream City Code 2018, photo booth app!">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="David Pine &amp; Ben Felda">
    <meta name="twitter:site" content="creamcitycode">
    <meta name="twitter:hashtags" content="DeveloperCommunity,CreamCityCode">
    <meta name="twitter:title" content="Cream City Code -- 2018">

    <meta property="og:description" content="Pictures from the Cream City Code 2018, photo booth app!">
    <meta property="og:image:type" content="image/gif">
    <meta property="og:image:width" content="640">
    <meta property="og:image:height" content="480">
    <meta property="og:title" content="Cream City Code -- 2018">
    <meta property="og:type" content="place">

    <meta itemprop="name" content="Cream City Code -- 2018">
    <meta itemprop="description" content="Pictures from the Cream City Code 2018, photo booth app!">

    @RenderSection("metatags", false)

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>

    <body>

        @RenderBody()

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)

    </body>
</html>